# Docker compose file to run server and redis
# This file is used to run the server in production
version: '3.8'
name: mr-market

services:
  mr-market-server:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - '3000:3000'
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3000
      - DATABASE_PATH=data/mr_market.db
    volumes:
      - ./data:/usr/src/app/data
    depends_on:
      - redis
    networks:
      - mr-merket-network

  redis:
    image: redis:alpine
    restart: always
    ports:
      - '6379:6379'
    networks:
      - mr-merket-network

networks:
  mr-merket-network:
